# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore idea setting directory
.idea/

# p6spy
spy.log

# project output
app/out
app/src/main/generated/
log
