**Request Fields**
|===
|Name|Type|Description|Required

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}
    {{#optional}}X{{/optional}}
    {{^optional}}O{{/optional}}
{{/tableCellContent}}

{{/fields}}
|===
