**Request Parameters**
|===
|Name|Description|Required
{{#parameters}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}
    {{#optional}}X{{/optional}}
    {{^optional}}O{{/optional}}
{{/tableCellContent}}
{{/parameters}}
|===

